<ul>
	        		<li><a href="mailto:disera.luca@gmail.com"><i class="fa fa-envelope" style="font-size:24px;color:red"></i></a></li>
	        		<li><a href="https://github.com/diseraluca"><i class="fa fa-github-square" style="font-size:24px"></i></a></li>
				<li><a href="https://www.linkedin.com/in/luca-di-sera-200023167/"><i class="fa fa-linkedin-square" style="font-size:24px;color:mediumblue"></i></a></li>
				<li><a href="https://www.facebook.com/luca.disera.1"><i class="fa fa-facebook-official" style="font-size:24px;color:steelblue"></i></a></li>
				</ul>
