<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel=”stylesheet” type="text/css" href=”/css/monokai.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
		</head>
		<body>
			{% include header.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		{% include footer.html %}
			</footer>
		</body>
	</html>
