<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:disera.luca@gmail.com">email</a></li>
	        		<li><a href="https://github.com/diseraluca">github</a></li>
				<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="it_IT" data-type="horizontal" data-theme="dark" data-vanity="luca-di-sera-200023167"><a class="LI-simple-link" href='https://it.linkedin.com/in/luca-di-sera-200023167?trk=profile-badge'>Luca Di Sera</a></div>
				<li><a href="https://www.facebook.com/luca.disera.1">facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>
