<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:disera.luca@gmail.com"><i class="fa fa-envelope" style="font-size:24px;color:red"></i></a></li>
	        		<li><a href="https://github.com/diseraluca"><i class="fa fa-github-square" style="font-size:24px"></i></a></li>
				<li><a href="https://www.linkedin.com/in/luca-di-sera-200023167/"><i class="fa fa-linkedin-square" style="font-size:24px;color:mediumblue"></i></a></li>
				<li><a href="https://www.facebook.com/luca.disera.1"><i class="fa fa-facebook-official" style="font-size:24px;color:steelblue"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
